.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(
    to bottom,
    rgba(235, 169, 47, 0.733),
    rgb(194, 98, 98)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
